# only ignore root-level directories
/datasets/
/ckpts/
__pycache__/
/tmp/

# python
*.py[cod]
*.so
*.egg
# .vscode/

/packages/DFA3D/build
/data
/packages/mmdetection3d/build
/packages/mmdetection3d/mmdet3d.egg-info